upload-youtube-workflow.json
{ "name": "Upload Video To Youtube", "nodes": [ { "parameters": {}, "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [ -520, -60 ], "id": "a10a9967-e8cb-49ba-b422-1a6a4165e74a", "name": "When clicking ‘Test workflow’" }, { "parameters": { "operation": "download", "fileId": { "__rl": true, "value": "1gVqvDtCgYGhhBOJbl4IIpd813v-rbUyc", "mode": "list", "cachedResultName": "n8n.mp4", "cachedResultUrl": "https://drive.google.com/file/d/1gVqvDtCgYGhhBOJbl4IIpd813v-rbUyc/view?usp=drivesdk" }, "options": { "binaryPropertyName": "data" } }, "type": "n8n-nodes-base.googleDrive", "typeVersion": 3, "position": [ -40, -60 ], "id": "ab1146e6-afc9-4b42-a28e-e9c2e6cb9569", "name": "Google Drive", "credentials": { "googleDriveOAuth2Api": { "id": "21UFu9AjTKl1aVlG", "name": "Google Drive account" } } }, { "parameters": { "method": "PUT", "url": "={{ $node[\"HTTP Request\"].json.headers.location }} ", "authentication": "predefinedCredentialType", "nodeCredentialType": "youTubeOAuth2Api", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "video/mp4" } ] }, "sendBody": true, "contentType": "binaryData", "inputDataFieldName": "data", "options": {} }, "id": "4bbb4c9b-290e-4bda-b94c-346877ab7e51", "name": "HTTP Request1", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [ 220, -60 ], "credentials": { "youTubeOAuth2Api": { "id": "Ihr83HTOaXDm03rq", "name": "YouTube account" } } }, { "parameters": { "method": "POST", "url": "https://www.googleapis.com/upload/youtube/v3/videos?part=snippet,status&uploadType=resumable", "authentication": "predefinedCredentialType", "nodeCredentialType": "youTubeOAuth2Api", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" }, { "name": "X-Upload-Content-Type", "value": "video/mp4" } ] }, "sendBody": true, "contentType": "raw", "rawContentType": "RAW/JSON", "body": "{\n \"snippet\": {\n \"title\": \"TEST title\",\n \"description\": \"test description\",\n \"tags\": [\"test\", \"n8n\"],\n \"categoryId\": \"24\",\n \"defaultLanguage\": \"en\",\n \"defaultAudioLanguage\": \"en\"\n },\n \"status\": {\n \"privacyStatus\": \"public\",\n \"license\": \"youtube\",\n \"embeddable\": true,\n \"publicStatsViewable\": true,\n \"madeForKids\": false\n }\n}\n", "options": { "response": { "response": { "fullResponse": true } } } }, "id": "9893d3fb-64aa-4027-be5a-eed3bef9806b", "name": "HTTP Request", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [ -280, -60 ], "credentials": { "youTubeOAuth2Api": { "id": "Ihr83HTOaXDm03rq", "name": "YouTube account" } } } ], "pinData": {}, "connections": { "When clicking ‘Test workflow’": { "main": [ [ { "node": "HTTP Request", "type": "main", "index": 0 } ] ] }, "Google Drive": { "main": [ [ { "node": "HTTP Request1", "type": "main", "index": 0 } ] ] }, "HTTP Request": { "main": [ [ { "node": "Google Drive", "type": "main", "index": 0 } ] ] } }, "active": false, "settings": { "executionOrder": "v1" }, "versionId": "e07fc300-7a3c-4655-84a3-ac8125a9fd34", "meta": { "templateCredsSetupCompleted": true, "instanceId": "7d6a5bcda733904ebcb54fc0e889f6735550f40f670703e17874c0872e05a9cb" }, "id": "jyWlXCaYM94YIf4a", "tags": [] }